openapi: 3.0.2
info:
  title: formaTAPIRest
  description: Conversion between a multitude of Data Formats used in science and engineering
  version: 0.0.1
  contact:
    name: Michael Klix
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: https://msbi.ipb-halle.de/formaTAPIRest/v1
    description: Public test server @ IPB Halle, e.g. nearly Main (production) server
  - url: http://localhost/
    description: Optional server description, e.g. Internal staging server for testing
paths:
  /ping:
    get:
      summary: Check if server alive
      responses:
        '200':
          description: formaTAPIRest server alive
  /list:
    get:
      summary: Get list of all convertes and their possible targets
      responses:
        '200':
          description: OK
          content:
            'application/xml:':
              schema:
                type: string
  /convert/png/to/jpg:
    post:
      tags:
      - Image
      summary: Convert a JPG image to PNG
      description: Uses ImageMagick to convert a JPG image to PNG
      operationId: ConvertImagePNG2JPG
      requestBody:
        content:
          'image/png':
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Input image converted to JPG format
          content:
            image/jpg:
              schema:
                type: string
                format: binary
  /convert/mzXML/to/mzML:
    post:
      tags:
      - Mass Spectrometry
      summary: Convert mzXML mass spectrometry raw data to mzML
      description: Uses Proteowizard MSConvert to convert an mzXML file into mzML
      operationId: ConvertPWIZmzXML2mzML
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                profile:
                  type: string
                inputfile:
                  type: string
                  format: binary
      responses:
        '200':
          description: Result file in mzML format
          content:
            'application/xml:':
              schema:
                type: string
                format: binary
